apache-airflow-providers-amazon==2.6.0
apache-airflow-providers-apache-hive==4.0.1
apache-airflow-providers-apache-spark==3.0.0
apache-airflow-providers-sqlite==3.2.1
apache-airflow-providers-snowflake==3.3.0
snowflake-sqlalchemy==1.4.3
snowflake-connector-python==2.8.1
hdfs==2.6.0
pyspark==3.2.0
mysql-connector-python==8.0.27
mysqlclient==2.0.3
numpy==1.22.4
pandas==1.5.1
boto3>=1.23.9
apache-airflow==2.4.3